@import "../../styles/theme.scss";

.cardContainer {
  background: $theme-white;
}

.header {
  padding-left: 2em;
  color: $theme-dark;
}

.contentContainer {
  border-right: 1px solid $theme-gray;
}

.successHeader {
  padding-left: 2em;
  color: $theme-green;
}

.message {
  padding-left: 2em;
}

.orderReview {
  padding-left: 2em;
}

.successContainer {
  max-width: 600px;
}