@import "../../../../styles/theme.scss";

.container {
  margin: 1em 0;
  
  .imageContainerContainer {
      width: 130px;
      height: 100px;
    
    .imageContainer {
      padding: 0 1em;
      height: 100%;
      width: 100%;

      .image {
        width: 100%;
        max-height: 100%;
      }
    }
  }


  .priceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .price {
      // margin-right: 45%;
      // margin-left: 2px;
      color: $theme-dark;
      font-weight: bolder;
    }
    
    .priceQuantity {
      color: $theme-secondary;
      margin-left: 3px;
    }
  }

  .details {
    display: none;
  }
  
  
  &:hover {
    border-left: 3px solid $theme-accent;
    
    .imageContainerContainer {
      width: 65px;  
      margin-right: 1em;
    }

    .priceContainer {
      height: 75%;  
    }
    
    .details {
      display: block;
    }
    
  }
}

.detailsContainer {
  text-align: center;
  padding: 5px 0;
}

.itemName {
  font-size: 14px;
  color: $theme-secondary;
}

.quantity {
  display: inline-block;
  margin-right: 1em;
  background: $theme-gray;
  border-radius: 3px;
  padding: 1px 0;
  
  button {
    border: none;
    outline: none;
    background: transparent;   
    width: 30px;
  }

  .quantityInput {
    width: 40px;
  }
}
.delete {
  display: inline-block;

  .deleteButton {
    background: transparent;   
    border: none;
    outline: none;
    font-size: 14px;
    color: $theme-primary;
    text-decoration: underline;
  }
}























