@import "../../styles/theme.scss";
@import "../../styles/media-breakpoints.scss";

.cardContainer {
  background: $theme-white;
}

.header {
  padding-left: 2em;
  color: $theme-dark;
  
  h1 {
    font-size: 20px;
    font-weight: 500;
  
    .orderId {
      font-weight: 600;
    }
  }
}

.contentContainer {
  border-right: 1px solid $theme-gray;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .loadingMessage {
    color: $theme-dark;
  }
}

.orderNotFoundContainer {
  margin: 1em;
  padding: .5em;
  border: 2px solid $theme-accent;
  border-radius: 5px;
  background-color: lighten($theme-accent, 30%);
  display: flex;
  align-items: center;
  
  .warningIconContainer {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: 1em;
    margin-right: 3.5em;
    color: $theme-accent
  }

  p {
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
  }
}