@import "../../../../styles/theme.scss";

.cardContainer {
  margin: 0 .5em;
}

.imageContainer {
  width: 130px;
  height: 100px;
  padding: 5px;

  .image {
    width: 100%;
    max-height: 100%;
  }
}


.name {
  text-align: center;
  a, a:visited {
    color: $theme-primary;
    font-size: 16px;
    margin-bottom: 5px;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
}

.price {
  text-align: center;
  color: $redish;
  font-size: 16px;
}

.addToCartContainer {
   padding-top: 5px;
   text-align: center;

  .addToCartButton {
    background: lighten($theme-accent, 10%);   
    width: 90%;
    font-weight: 600;
    border-radius: 5px;
  }
}