@import "../../styles/theme";
@import "../../styles/media-breakpoints";

.toggleButtonContainer {
  text-align: right;
  margin-right: 1em;
}


.toggleButton {
  position: relative;
  background-color: transparent;
  color: $theme-white;
  width: 38px;
  border: 1px solid $theme-gray;
  border-radius: 3px;
  outline: none;
  box-shadow: none;
  padding: 8px;
}
