/* HEX */
$color1: #336699ff;
$color2: #86bbd8ff;
$color3: #2f4858ff;
$color4: #9ee493ff;
$color5: #daf7dcff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #336699ff, #86bbd8ff, #2f4858ff, #9ee493ff, #daf7dcff);
$gradient-right: linear-gradient(90deg, #336699ff, #86bbd8ff, #2f4858ff, #9ee493ff, #daf7dcff);
$gradient-bottom: linear-gradient(180deg, #336699ff, #86bbd8ff, #2f4858ff, #9ee493ff, #daf7dcff);
$gradient-left: linear-gradient(270deg, #336699ff, #86bbd8ff, #2f4858ff, #9ee493ff, #daf7dcff);
$gradient-top-right: linear-gradient(45deg, #336699ff, #86bbd8ff, #2f4858ff, #9ee493ff, #daf7dcff);
$gradient-bottom-right: linear-gradient(135deg, #336699ff, #86bbd8ff, #2f4858ff, #9ee493ff, #daf7dcff);
$gradient-top-left: linear-gradient(225deg, #336699ff, #86bbd8ff, #2f4858ff, #9ee493ff, #daf7dcff);
$gradient-bottom-left: linear-gradient(315deg, #336699ff, #86bbd8ff, #2f4858ff, #9ee493ff, #daf7dcff);
$gradient-radial: radial-gradient(#336699ff, #86bbd8ff, #2f4858ff, #9ee493ff, #daf7dcff);

$redish: #de4725;
$yellowish: #d6a044;

$theme-black: #120A2A;
$theme-white: #FFFFFF;
$theme-gray: #e3e8ee;
$theme-gray-light: #f1f1f1;
$theme-green: #007600;

$theme-primary: $color1;
$theme-secondary: $color2;
$theme-dark: $color3;
$theme-accent: $yellowish;

$theme-background: $theme-gray;
$theme-font-color: $theme-black;
