@import "../../styles/theme.scss";
@import "../../styles/media-breakpoints.scss";

.homeContainer {
  min-height: 75vh;
  padding-top: 1em;
}

.itemListContainer, .featuredItemsContainer {
  padding: 1em;
  max-width: 1200px;
  margin: auto;
}

.carouselContainer {
  height: 200px;
  max-width: 1200px;
  margin: auto;

  @include for-pure-md-width-up {
    height: 300px;
  }
}