@import "../../styles/theme.scss";

.homeContainer {
  min-height: 75vh;
}

.itemListContainer, .featuredItemsContainer {
  padding: 1em;
  max-width: 1200px;
  margin: auto;
}

.carouselContainer {
  height: 300px;
}