@import "../../styles/theme.scss";

$font-size: 200%;
$font-weight: 700;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.pathogen {
  color: $theme-white;
  font-size: $font-size;
  font-weight: $font-weight;
}

.nix {
  color: $redish;
  font-size: $font-size;
  font-weight: $font-weight;
}