@import "../../styles/theme.scss";
@import "../../styles/media-breakpoints.scss";

$font-size-md: 150%;
$font-size: 200%;
$font-weight: 700;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;

  .pathogen {
    color: $theme-white;
    font-weight: $font-weight;
    font-size: $font-size-md;

    @include for-pure-lg-width-up {
      font-size: $font-size;
    }
  }

  .nix {
    color: $redish;
    font-weight: $font-weight;
    font-size: $font-size-md;

    @include for-pure-lg-width-up {
      font-size: $font-size;
    }
  }
  
  &.style2 {
    .pathogen {
      color: $theme-dark;
    }
  }
}