@import "../../styles/theme.scss";

.drawerBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 999;
    transition: 0.3s;
    width: 0;

    &.open {
      width: 100%;
    }
}

.drawer {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: auto;
    border-radius: 0.2em;
    background: white;
    z-index: 9999;
    overflow: hidden;
    transition: 0.3s;
    min-width: 0;
    width: 0;
    
    &.open {
      overflow: visible;
      min-width: 25vw;
    }


    &.left {
      left: 0;

      .closeButtonContainer {
        text-align: right;
        height: 0;
      }

      .closeButton {
        position: relative;
        right: -40px;
        top: 20px;
        width: 40px;
        height: 40px;
        background: $theme-white;
        outline: none;
        border: none;
        font-weight: bolder;
      }
    }

    &.right {
      right: 0;

      .closeButtonContainer {
        text-align: left;
        height: 0;
      }

      .closeButton {
        position: relative;
        right: 40px;
        top: 20px;
        width: 40px;
        height: 40px;
        background: $theme-white;
        outline: none;
        border: none;
        font-weight: bolder;
      }
    }
}