@import "../../../../styles/theme.scss";
@import "../../../../styles/media-breakpoints.scss";

.drawerHeaderContainer {
  background-color: $theme-dark;
  color: $theme-white;
  padding-left: .5em;
}

.cartIconSection {
  padding-top: 1em;
  text-align: center;
  
  .iconContainer {
    width: 20px; 
    display: inline-block;
  }
  
  .cartTitle {
    font-weight: 800;
    margin-left: 1em;
  }
}

.subtotalContainer {
  text-align: center;
  padding-top: .5em;
  font-weight: 600;
  font-size: 110%;
  
  .subtotalLabel {
  }
  
  .subtotal {
    margin-left: 3px;
    color: $theme-accent;
  }
}

.checkoutButtonContainer {
  padding: 1em 0 1em 0;
  text-align: center;
  
  .checkoutButton {
    background-color: $theme-accent; 
    text-decoration: none;
    color: $theme-black;
    outline: none;
    border: 0;
    padding: .5em 1.5em;
    border-radius: 5px;

    @include for-pure-md-width-up {
      font-weight: 600;
    }
  }
}