@import "../../styles/theme.scss";

.footerContainer {
  width: 100%;
  background-color: $theme-dark;
  color: $theme-white;
  display: flex;
  flex-direction: column;
}

.backToTopButton {
  font-size: 14px;
  width: 100%;
  text-align: center;
  color: $theme-white;
  background-color: $theme-primary;
  outline: none;
  border: none;
  padding: 1em 0;
  
  &:hover {
    background-color: rgba($theme-primary, .50);

  }
}

.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.footerContentColumn {
  header {
    font-weight: bolder;
  }
  
  ul {
    list-style: none;
    padding: .5em .5em;
    margin: 0;
  }
}