@import "../../styles/theme.scss";

.cardContainer {
  position: relative;
  background: $theme-white;
}

.header {
  padding-left: 2em;
  color: $theme-dark;
}

.contentContainer {
  border-right: 1px solid $theme-gray;
  padding: 0 1em;
}

.actionsContainer {
  padding: 1em;
}

.totalsTable {
  width: 75%;
}

.totalContainer {
  text-align: center;
  padding-top: 1em;
  font-weight: 600;
  font-size: 110%;
  
  .total{
    margin-left: 3px;
    color: $theme-accent;
  }
}

.placeOrderButtonContainer {
  padding: 1em 0 1em 0;
  text-align: center;
  
  .placeOrderButton {
    background-color: $theme-primary; 
    text-decoration: none;
    color: $theme-white;
    outline: none;
    border: 0;
    padding: .5em 1.5em;
    font-weight: 600;
    border-radius: 5px;
  }
}

.errorContainer {
  margin: .5em 1em;
}