@import "../../styles/theme.scss";

.detailsContainer {
  padding: 1em;
  margin: auto;
  max-width: 1200px;
  min-height: 75vh;
}

.detailsCard {
  background-color: $theme-white;
}

.imageContainer {
  padding: 1em;
  cursor: pointer;
  
  img {
    width: 100%;
  }
}

.rightContainer {
  position: relative;
}

.detailsHeader {
  color: $theme-primary;
  padding-left: 1em;
}

.subDetailsHeader {
  padding-left: 1em;
  padding-bottom: 3.5em;
  
  .inStockText {
    color: $theme-green;
    font-weight: 700;
  }

  .outOfStockText {
    color: $redish;
    font-weight: 700;
  }
}

.actionsContainer {
  padding-bottom: 1em;
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;

  .quantityLabel {
    margin-right: 1em;
    padding: 2px 2px 2px 5px;
    border-radius: 3px;
    background-color: $theme-gray;
    display: inline-block;
    position: relative;
  }
  
  .quantityInput {
    width: 100px;
    margin-left: 5px;
  }

  .buttonContainer {
    position: relative;
    display: inline-block;

    .addToCart {
      margin-right: 1em;
      background-color: $theme-accent; 
      color: $theme-black;
      outline: none;
      border: 0;
      padding: .5em 1.5em;
      font-weight: 600;
      border-radius: 5px;
      
      &:disabled {
        opacity: .75;
      }
    }
    
    .loadingContainer {
      position: relative;
      top: -15px;
      width: 150px;
    }
  }
}

.description {
  white-space: pre-line;
}

.price {
  color: $redish;
}